.image {
	display: block;
	margin: auto;
	text-align: center;
	color: #10452B;
}

.backgr {
	background-color: #C0C0C0
}

.red_string {
	text-indent: 15px;
}

.top {
		margin-bottom: -15px;
}